*/__pycache__/*
*pychache*
Ch06/bin/*
Ch02/challenge project/__pycache__/
Ch02/finding palindromes/__pycache__/
Ch02/practice project/__pycache__/
Ch03/finding phrase anagrams/__pycache__/
Ch03/finding single-word anagrams/__pycache__/
Ch03/finding voldemort/__pycache__/
Ch04/practice_projects/__pycache__/
Ch05/Practice Projects/__pycache__/
Ch05/Project 11 - Writing a Null Cipher/__pycache__/
Ch06/lib/
Ch06/lib64
Ch06/pyvenv.cfg
